<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="com.android.vending.BILLING" />

	<!-- Эти строки принудительно вырежут разрешения на фото и видео при сборке -->
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:node="remove" />
	<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:node="remove" />

	<application>

		<meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8968740975401720~2150243505"/>

		<meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="8.3.0"
            tools:replace="android:value" />

		<activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
		</activity>

		<activity android:name="com.unity3d.player.UnityPlayerGameActivity"
                  android:theme="@style/BaseUnityGameActivityTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
			<meta-data android:name="android.app.lib_name" android:value="game" />
		</activity>

	</application>
</manifest>